<!-- Footer Component - TalentBridge -->
<footer class="footer mt-50">
    <div class="container">
        <div class="footer-bottom mt-50">
            <div class="row">
                <div class="col-md-6">
                    <span class="font-xs color-text-paragraph">
                        Copyright © 2025. TalentBridge - Nền tảng tìm việc thông minh
                    </span>
                </div>
                <div class="col-md-6 text-md-end text-start">
                    <div class="footer-social">
                        <a class="font-xs color-text-paragraph" href="page-about.html">Về Chúng Tôi</a>
                        <a class="font-xs color-text-paragraph" href="page-contact.html">Liên Hệ</a>
                        <a class="font-xs color-text-paragraph" href="pages-faqs.html">FAQ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

